html{
  background-color: #232F3E;
}
.flexh{
	 display: flex;
  background-color: #232F3E;
  justify-content: space-between;
}
.flexh>div{
   background-color:  #232F3E;
   display: inline-flex;
  color: white;
  width: 1000px;
  height:50px;
  margin: 10px;
  text-align: left;
  line-height: 0px;
  font-size: 30px;
  overflow: hidden;
 
}
#pic1{
	position:absolute;
	
}

#text p{
	color:lightblue;
	text-align: top;
	font-size: 8px;
}
#space{
  background-color: #232F3E;
  color: white;
  width: 200px;
  height:50px;
  margin: 10px;
  text-align: right;
  line-height: 0px;
  font-size: 30px;
  overflow: hidden;
}
#form{
  background-color:  #232F3E;
  color: white;
  width: 1000px;
  height:50px;
  margin-bottom: 10px;
  margin-left:10px;
  text-align: left;
  line-height: 10px;
  font-size: 30px;
  overflow: hidden;
}
input[type=text]
{ width:400px;
	
	border:2px solid #ccc;
	
	font-size:16px;
	background-color: #fff;
	background-image:url(searchicon.png);
	background-position:10px 10px;
	background-repeat:no-repeat;
	padding:12px 20px 12px 40px;
	
}
input[type=text]:focus {
	width:100%;
}
#form{
	width:600px;

}
#search2{
  
}

#search3{
width: 50px;
height:50px;
background-color: orange;
color: #FFF;
border-radius: 8px;
font-family: arial;
}
#logo3{
  
  background-color: #232F3E;
  color: white;
  width: 800px;
  height:50px;
  margin-left: 250px;
  text-align: left;
  line-height: 0px;
  font-size: 30px;
  overflow: hidden;

}
.border-new>div {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
#nav{
direction: ltr;
background-color: #232F3E;
height: 40px;
overflow: hidden;
color: white;
}
 
#nav li{
display: inline;
}
 
#nav li a{
font-family: tahoma;
font-size: 12px;
font-weight: bold;
padding: 15px;
background-color:#232F3E;
color: #ffffff;
border-bottom: 2px;
border-bottom-color: #232F3E;
}
 
#nav li a:hover{
background-color: #9B1C26;
padding-bottom: 12px;
}